<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %}">

    <div class="wrapper">

      <header class="page-header">

        <!-- You can turn off the avatar in _config.yml by setting to false -->
        {% if site.resume_avatar == 'true' %}
        <img src="images/avatar.jpg" alt="my photo" class="avatar">
        {% endif %}

        <!-- Your name is defined in the _config.yml file -->
        <h1 class="header-name">Senior Cloud Engineer</h1>
        <h1 class="header-contact">DAgans@sdf.ninja - (248) 973 - 7448</h3>

        <div class="title-bar">

          <!-- Your title is also defined in the _config.yml file -->
          <h2 class="header-title">Cloud Engineer</h2>

          <!-- This is the markup for the icon links; moved out to an include because it's very verbose, and you shouldn't ever need to edit the markup (unless you want to re-order the icons); if you want to customize which links appear, define them in the _config.yml file -->
          {% include icon-links.html %}
        </div>

        <div class="executive-summary">
          <p>Devops/Cloud Engineer using Chef, Jenkins, Terraform, and the power of scripting to automate as many things as they will let me.</p>
        </div>

        {% if site.resume_looking_for_work == 'yes' %}
        <a href="mailto:{{ site.resume_contact_email }}" class="contact-button">Contact me</a><a href="http://pdfmyurl.com/saveaspdf" class="contact-button">Save this page as PDF</a>
        {% elsif site.resume_looking_for_work == 'no' %}
        <a class="contact-button not-looking">I'm not looking for work right now.</a>
        {% else %}
        {% endif %}

      </header>

      <!-- begin Experience -->
      <section class="content-section">

        <header class="section-header">
          <h2>Experience</h2>
        </header>

        <!-- Duplicate these resume-item elements and edit accordingly for each job you want to add here -->
        <div class="resume-item">
          <h3 class="resume-item-title">Groundspeed Analytics</h3>
          <h4 class="resume-item-details">Senior Cloud Engineer &bull; Nov 2018 &mdash; Present</h4>
          <p class="resume-item-copy">Using Python and Terraform to bring order to a Startup's chaotic AWS account</p>
          <ul class="resume-item-list">
            <li>First Devops Engineer at 50-100 user startup</li>
            <li>Buildout of Terraformed ECS Services</li>
            <li>Preparation for and Completion of SOC Certification</li>
            <li>Wrote SNS and SQS Terraform modules to abstract them for use by Engineers</li>
            <li>Maintenance of entire AWS account using lots of Boto3</li>
          </ul>
        </div><!-- end of resume-item -->
        
        <!-- Duplicate these resume-item elements and edit accordingly for each job you want to add here -->
        <div class="resume-item">
          <h3 class="resume-item-title">LLamaSoft</h3>
          <h4 class="resume-item-details">Senior Cloud Engineer &bull; Nov 2016 &mdash; Nov 2018</h4>
          <p class="resume-item-copy">Using Chef, Jenkins, AWS, Packer, and Terraform to build an infrastructure pipeline. Using custom Chef resources to deploy services, with Jenkins pipelines orchestrating the show. </p>
          <ul class="resume-item-list">
            <li>First ever Devops Engineer in the organization, which facilitated lots of valuable experience</li>
            <li>Introduced Chef to the organization, and built all of the initial cookbooks for services</li>
            <li>Created many small tools for the team with both Powershell (Windows Deskside) and Ruby (Anything Else)</li>
            <li>Creating tooling for cross-platform use via Python and Ruby (After the team became multiplatform on their workstations)</li>
            <li>Identify most effective improvements and schedule the work into sprints</li>
            <li>Work with individual dev teams to standardize deployments</li>
            <li>Worked with one of our more progressive teams to allow their desktop application to log into Elasticsearch & integrate into third party systems for analysis.</li>
            <li>Code tracking and collaboration via Github ♥</li>
          </ul>
        </div><!-- end of resume-item -->

        <!-- Duplicate these resume-item elements and edit accordingly for each job you want to add here -->
        <div class="resume-item">
          <h3 class="resume-item-title">Ford Motor Company</h3>
          <h4 class="resume-item-details">Server Automation Engineer &bull; July 2015 &mdash; Nov 2016</h4>
          <p class="resume-item-copy">Tasked with writing scripts in Ruby and the Chef Domain Specific Language to automate various processes </p>
          <ul class="resume-item-list">
            <li>First engineer hired to do only Devops, participated in lots of strategy and evangelization meetings.</li>
            <li>Utilizing Chef to Automate Server Configurations</li>
            <li>Developing Vagrantfiles to ease local development for the organization</li>
            <li>Interacting with teams throughout the organization to gather requirements to automate infrastructure</li>
            <li>Writing Powershell scripts/modules to automate repetitive development tasks on Windows systems</li>
            <li>Code tracking and collaboration via Github ♥</li>
          </ul>
        </div><!-- end of resume-item -->

        <!-- another resume item -->
        <div class="resume-item">
          <h3 class="resume-item-title">Level One Bank</h3>
          <h4 class="resume-item-details">Sr Network Engineer (System Administrator) &bull; Sep 2013 &mdash; July 2015</h4>
          <p class="resume-item-copy">Oversaw all IT functions, delegating tasks to teammates as well as myself.</p>
          <ul class="resume-item-list">
            <li>Design and Support IT Infrastructure for 200 User Environment with 10 Branch Locations</li>
            <li>Improved workstation imaging process from full day to ~30 minutes by introducing re-deployable/standardized images.</li>
            <li>Implemented logging via Graylog and using FreeNAS for extremely low-cost solution to a compliance requirement</li>
            <li>Introduced monitoring via Nagios. Wrote check scripts in Python, Powershell, and Ruby</li>
            <li>Used PHP, NGINX, LDAP, MySQL in several projects to abstract ticket submission and ease other helpdesk activities</li>
            <li>Introduced automation to create reusable training machines, saving about 8 hours of work per training session.</li>
            <li>Architected and deployed VPN, WIFI, and internally-connected mobile tech via Fortigate with user certificate auto-enrollment and authentication</li>
            <li>Drastic improvement of Disaster Recovery capabilities by way of added VMware SRM at a secondary site</li>
          </ul>
        </div><!-- end of resume-item -->

        <!-- by now you're getting the picture... -->
        <div class="resume-item">
          <h3 class="resume-item-title">Greenpath Debt Solutions</h3>
          <h4 class="resume-item-details">System Administrator &bull; Sep 2011 &mdash; Sep 2013</h4>
          <p class="resume-item-copy">Administration of (largely) helpdesk solutions for a 500+ user nonprofit.</p>
          <ul class="resume-item-list">
            <li>Implemented Nagios (Monitoring)/Cacti (Traffic Visualization)/Graylog(Logging with MongoDB and Elasticsearch) along with custom webpages and Nagvis to proactively monitor infrastructure and make it visible to teams.</li>
            <li>Administration of 10 host Terminal Services cluster running 300+ users</li>
            <li>Replaced Terminal Services servers with VMWare View VDI, introducing vast improvement to remote site experience including ability to stream audio and video over WAN</li>
            <li>Developed a tool to allow for chat support team to more quickly enter information, improving efficiency to the point that some customers assumed that they were being assisted by a bot (woops).</li>
          </ul>
        </div><!-- end of resume-item -->

        <!-- by now you're getting the picture... -->
        <div class="resume-item">
          <h3 class="resume-item-title">Verizon/Frontier Communications</h3>
          <h4 class="resume-item-details">Systems Engineer &bull; May 2006 &mdash; Sep 2011</h4>
          <p class="resume-item-copy">Advanced support technician for several internal & external customers</p>
          <ul class="resume-item-list">
            <li>Troubleshooting Both Client & Server-Side Issues on Windows and Linux Servers</li>
            <li>Promotions from the ground floor (Internal Support Tech) to the top non-managerial position available (Dedicated Tier 2 Commercial Tech to Live Nation)</li>
            <li>Most of the success I had was due to scripting anything repetitive and thus outperforming other agents consistently.</li>
          </ul>
        </div><!-- end of resume-item -->

      </section>
      <!-- end Experience -->

      {% if site.resume_section_education %}
      <!-- begin Education -->
      <section class="content-section">

        <header class="section-header">
          <h2>Education</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title">Springfield College</h3>
          <h4 class="resume-item-details">Associates Degree, Business Management &bull; 1984 &mdash; 1986</h4>
          <p class="resume-item-copy">If you had any meaningful roles at college, feel free to write about them here.</p>
        </div>

      </section>
      <!-- end Education -->
      {% endif %}

      {% if site.resume_section_projects %}
      <!-- begin Projects -->
      <section class="content-section">

        <header class="section-header">
          <h2>Projects</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title"><a href="http://donutlocator.io">donutfinder.io</a></h3>
          <h4 class="resume-item-details">Founder & Primary Developer &bull; 2012 &mdash; Present</h4>
          <p class="resume-item-copy">Donut Locator is an open source node/ember app that lets users find donuts within a defined radius from their home.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Springfield Donut Eater's User Group</h3>
          <h4 class="resume-item-details">Co-Founder & Organizer &bull; 2007 &mdash; Present</h4>
          <p class="resume-item-copy">DEUG is a local monthly meetup in Springfield where we share all the latest tips and tricks for dat donut lifestyle. I organize the group, and typically eat most of the donuts.</p>
        </div>

      </section>
      <!-- end Projects -->
      {% endif %}

      {% if site.resume_section_skills %}
      <!-- begin Skills -->
      <section class="content-section">

        <header class="section-header">
          <h2>Skills</h2>
        </header>

        <div class="resume-item">
          <h4 class="resume-item-details">Donut design</h4>
          <p class="resume-item-copy">Sprinkle art, icing design, eclair management, taste testing, donut/coffee pairing research</p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Craft beer brewing</h4>
          <p class="resume-item-copy">Hops inspection, brew testing, distribution management, bottle label design, festival and event management</p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Family leadership</h4>
          <p class="resume-item-copy">Bread winning, conflict resolution, couch inspection, TV longevity testing</p>
        </div>

      </section>
      <!-- end Skills -->
      {% endif %}

      {% if site.resume_section_links %}
      <!-- begin Links -->
      <section class="content-section">

        <header class="section-header">
          <h2>Additional Links</h2>
        </header>

        <div class="resume-item">
          <ul class="resume-item-list">
            <li><a href="https://github.com/phwelo">Phwelo on Github</a></li>
            <li><a href="https://twitter.com/danielagans">Daniel Agans on Twitter</a></li>
            <li><a href="https://www.linkedin.com/in/sdfninja">Daniel Agans on LinkedIn</a></li>
          </ul>
        </div>

      </section>
      <!-- end Links -->
      {% endif %}

      <footer class="page-footer">
        <p class="footer-line">Made by <a href="http://twitter.com/danielagans">@danielagans</a>. Fork me on <a href="https://github.com/phwelo">GitHub</a>.</p>
      </footer>

    </div>

  </body>

</html>
